<!--Extend layout.html-->
{% extends 'layout.html' %}

<!--css block-->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
<!--Title Block-->
{% block title %}
    <title>About</title>
{% endblock %}

<!--Main-section bloack-->
{% block main_section %}
    <section class="about">
        <h1>Question Paper Management Systen</h1>
        <h3>Question Paper Mangement systems helps Faculty Members to set exam question papers <br> supper fast and It reduces time for reviews</h3>
        <span><a href="/register"><button>Check It Out</button></a></span>
    </section>
{% endblock %}